languages/mise/.venv
platforms/linux/set_background
config/nvim/lazy-lock.json
core/git/git_updated
.vscode
.idea
tmp/
cache/
docs/
platforms/macos/brewfile.lock.json
core/git/gitconfig.local.symlink
.dotfiles-profile
.opencode/
